/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    /*scroll-behavior: smooth;*/
}

body {
    background-color: #F8FBE4;
    /*background-color: darkslategray;*/
    padding-top: 56px;
}

h1,
h2,
h3,
h4 {
    font-family: "Berkshire Swash", serif;
}

h1,
h2 {
    color: #3B3026;
}

h3 {
    color: #60533E;
}

h4 {
    color: #6A512F
}

p {
    font-family: "Raleway", serif;
    color: #160900;
}

/* The paragraph with lead class in the header of the start page */
#header .lead {
    font-family: "Berkshire Swash", serif;
    color: #867369;
}

/* Navbar */ 
#navbar {
    background-color: #3B3026;
    text-transform: uppercase;
}

#navbar .logo {
    width: 30px;
}

#navbar li * {
    color: #F8FBE4;
}

#navbar li:hover * {
    color: #8F6D3F; 
}

/* Styling of the header */
#header {
    /*max-width: 100%;
    /*margin-left: 10px;
    margin-right: 10px;*/
    padding-top: 30px;
}

/* Styling of lists and links in the header */
/* Before You Buy A Cat and About The Maine Coon header menu */
#header .about_the_mc_links li,
#header .before_cat_links li {
    list-style-type:none;
}

#header .about_the_mc_links a,
#header .before_cat_links a {
    text-decoration: none;
    color:#3B3026;
}

#header .about_the_mc_links a:hover,
#header .before_cat_links a:hover {
    color: #8F6D3F;
}

/* The Jumbotron 
.bg-image {
    height: 500px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #F8FBE4;
}*/

/*#header img {
    /*max-width: 100%;
    height: 200px;*/
    /*max-width: 100%;
    height: auto;
}*/

img {
    max-width: 100%;
    height: auto;
  }

/* Text on the start page */
#start-info p {
    /*margin-top: 15px;
    margin-bottom: 25px;*/
    /*font-size: 1.2rem;*/
    color:#3B3026; 
    font-weight: normal;
    /*padding-top: 20px;*/
    padding-bottom: 40px;
}

section {
    padding-top: 68px; /* prevent navbar overlap on pages where you click on an internal link */
}

/*.hero {
    height: 300px;
    width: 100%;
    background: url("../images/Sunbeam_20240624.jpg") no-repeat center center/cover;
    position: relative;
}*/

/* Footer */
#social-links {
    background-color: #3B3026;
   /* color: #F8FBE4;*/
    /*padding-top: 10px;*/
}

#social-links i {
    color: #F8FBE4;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 10px;
}

#social-links i:hover {
    color: #8F6D3F; 
}

#social-links a {
    color: #F8FBE4;
    text-decoration: none;
    font-size: 1rem;
}

#social-links a:hover {
    color: #8F6D3F; 
}

/* Before You Buy A Cat - CSS */
#before_cat_decision,
#before_cat_buying {
    padding-left: 20px;
    padding-right: 20px;
}

#before_cat_decision {
    padding-top: 20px;
}

#before_cat_buying {
    padding-bottom: 20px;
}

/* About The Maine Coon - CSS */
#shorter_facts,
#origin,
#appearance,
#personality,
#health,
#nutrition_and_feeding,
#fur_care,
#child_friendliness {
    padding-left: 20px;
    padding-right: 20px;
}

#child_friendliness {
    padding-bottom: 20px;
}

/*#shorter_facts {
    padding-top: 20px;
}*/

#shorter_facts li {
    list-style-type: none;
}

/* Gallery CSS */
#image_gallery {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#image_gallery img {
    padding-bottom: 1rem;
}

/* Contact CSS */
#contact_form, 
#contact_confirmation {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.custom-button-outline {
    /*border: 3px solid #3B3026;*/
    border: 3px solid #3B3026;
    padding: 7px 25px;
    /*color: #8F6D3F;*/
    color:#3B3026;
}

.custom-button-outline:hover {
    background-color: #3B3026;; 
    color: #F8FBE4;
}

/* Media queries */
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* About The Maine Coon - CSS */

    #shorter_facts h2 {
        text-align: center;
        padding-bottom: 0.8rem;

    }

    #shorter_facts ul {
        text-align: center;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #navbar {
        background-color: #3B3026;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    #start-info p {
        /*margin-top: 15px;
        margin-bottom: 25px;*/
        /*font-size: 1.2rem;*/
        color:#3B3026; 
        font-weight: lighter;
        font-size: 1.5rem;
        padding-top: 40px;
        padding-bottom: 10px;
    }

    #social-links i {
        color: #F8FBE4;
        text-decoration: none;
        font-size: 2.5rem;
        margin-right: 10px;
    }

    #social-links a {
        color: #F8FBE4;
        text-decoration: none;
        font-size: 1.1rem;
    }

    /* About The Maine Coon - CSS */

    #shorter_facts h2 {
        text-align: center;
        padding-bottom: 1rem;
    }
}

/* Media query: laptops and desktops (1440px and up) */
@media screen and (min-width: 1440px) {
    #navbar {
        background-color: #3B3026;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    #header img {
        max-width: 600px;
        max-height: auto;
    }

    #start-info p {
        /*margin-top: 15px;
        margin-bottom: 25px;*/
        color:#3B3026; 
        /*font-weight: bold;*/
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #social-links i {
        color: #F8FBE4;
        text-decoration: none;
        font-size: 3rem;
        margin-right: 10px;
    }

    #social-links a {
        color: #F8FBE4;
        text-decoration: none;
        font-size: 1.5rem;
    }

    /* Before You Buy A Cat - CSS */
    #header a {
        text-decoration: none;
        color:#3B3026;
        font-size: 1.5rem;
    }

    #before_cat_decision .lead {
        font-size: 1.5rem;
    }
}

