/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    overflow-y: scroll;
}

body {
    background-color: whitesmoke;
    padding-top: 56px;
    /*overflow-y: scroll;*/
}

h1 {
    font-family: "Berkshire Swash", serif;
    /*color: #001200;*/
    color: #3B3026;
}

p {
    font-family: "Raleway", serif;
    /*color: #867369;*/
    color: #3B3026;
    /*font-weight: bold;
    font-size: 1.2rem;*/
}

.lead {
    font-family: "Berkshire Swash", serif;
    color: #867369;
}

/* Navbar */ 
#navbar {
    background-color: #3B3026;
    text-transform: uppercase;
}

#navbar .logo {
    width: 30px;
}

#navbar li * {
    color: #F8FBE4;
}

#navbar li:hover * {
    color: #8F6D3F; 
}

#header {
    padding: 15px;
}

img {
    max-width: 100%;
    /*width: 100%;*/
    height: auto;
  }

#start-info p {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Footer */
#social-links {
    background-color: #3B3026;
   /* color: #F8FBE4;*/
    padding: 1rem;
}

#social-links i {
    color: #F8FBE4;
    text-decoration: none;
    font-size: 1.5rem;
}

#social-links i:hover {
    color: #8F6D3F; 
}

#social-links a {
    color: #F8FBE4;
    text-decoration: none;
    font-size: 1rem;
}

#social-links a:hover {
    color: #8F6D3F; 
}
